<% @restaurants.each do |restaurant| %>
  <div class ="restaurant-card">
    <div class="restaurant-info">
      <h3><%= link_to "#{restaurant.name}", restaurant_path(restaurant) %></h3>
      <hr>
      <p><%= restaurant.address %></p>
      <%= link_to "View Restaurant", restaurant_path(restaurant), :class => 'btn' %>
    </div>
    <%= image_tag restaurant.image_url, :class => 'thumbnail' %>
  </div>
<% end %>