form {
  background-color: #fff;
  padding: 8vh 8vw;
  margin-top: 1.5em;
  border-radius: 20px;
  box-shadow: 0 2px 2px #777;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  label {
    font-size: 1.7em;
  };
  input {
    border-radius: 15px;
    height: 1.5em;
    width: 14em;
    margin-bottom: .5em;
    text-align: center;
    font-size: 1.5em;
    color: #777;
    &:focus, &:active {
      outline: none;
    };
  };
  textarea {
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    color: #777;
    height: 40vh;
    width: 30vw;
    &:focus, &:active {
      outline: none;
    };
  }
}

.reservation {
  padding: 0;
  margin: 0;
  background: none;
  box-shadow: none;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  width: 100vw;
  text-shadow: 0 1px 1px black;
  input[type=number] {
    width: 2em;
    font-size: 1em;
    border-radius: 0;
  }
  input[type=date] {
    font-size: 1em;
    width: 15em;
  }
  label {
    font-size: 1em;
  }
  .times {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 30vw;
  }
}

label.reserve {
  display: inline-block;
  width: 5em;
  text-align: center;
  font-size: .8em;
  background: $primary-color;
  color: white;
  padding: 2px;
  margin: 2px;
  &:hover {
    background: $dark-primary-color;
  }
}

input[type=radio]:checked + label.reserve {
  background: $dark-primary-color;
}

.review {
  background: none;
  box-shadow: none;
  margin: 10px;
  padding: 0;
}