.jumbotron {
  display: flex;
  align-items: flex-end;
  padding: 2em 5em;
  box-sizing: border-box;
  background: url("http://www.cervo.ch/media/archive1/mediendownloads/restaurant/restaurant_dinner02.jpg") no-repeat;
  background-size: cover;
  height: 70vh;
  width: 100vw;
  box-shadow: 0 2px 1px #777;
}