.jumbotron-restaurant {
  justify-content: center;
}

.thumbnail {
  width: 200px;
  height: auto;
  box-shadow: 1px 1px 1px #000;
}

.restaurant-card {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px;
  background: white;
  width: 60vw;
  margin: 20px;
  height: 30vh;
  box-shadow: 0 1px 1px #777;
}

.restaurant-info {
  h3 {
    font-size: 2em;
  }
}